@media screen and (max-width: 991px) {
  #nav-bar img {
    display: none;
  }
  .job-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  * {
  }
  box-sizing: border-box;

  body {
    font-family: "lato", sans-serif;
    line-height: 2;
    color: GRAY;
  }
  .cer-item {
    display: block;
    column-gap: 20px;
    padding-bottom: 30px;
  }
}
